.container {
    padding: 40px 20px 20px 20px;
    width: 99%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 2px;
    width: 100%;
    height: 10%;
    text-align: center;
    align-items: center;
}

.card_item {
    padding: 7px 70px;
    width: 90%;
    flex-grow: 1;
    text-align: center;
    margin: 0 auto;
    align-items: center;
}

.container .card_item:hover {
    transform: scale(1.001);
    transition: transform 0.3s;
    cursor: pointer;
}

.container .card_inner {
    background: rgba(59, 58, 58, 0.808);
    border-radius: 10px;
    padding: 3px 20px;
    min-width: 225px;
    max-height: 370px;
    width: 100%;
}

.container .card_item .webName {
    color: #d07a7c;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.container .card_item .time {
    font-size: 13px;
    font-weight: 300;
    margin: 5px 0 10px;
    word-wrap: break-word;
    color: #ebeb0f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.container .card_item .gitDetail {
    font-size: 14px;
    line-height: 24px;
    color: #7b8ca0;
    display: flex;
    flex-direction: column;
}

.detail-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-box span {
    margin: 2px;
    padding: 2px 10px;
    background-color: #f0ebfa;
    border-radius: 50px;
    font-size: 10px;
    font-weight: 600;
    color: #788697;
}

@media screen and (max-width: 768px) {
    .container .card_item {
        width: 50%;
    }

    .wrapper .header {
        font-size: 16px;
        height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .container .card_item {
        width: 110%;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .container .card_item {
        width: 100%;
    }
}